body {
  background-color: #e6dfd0;
  font-family: 'Montserrat', sans-serif;
}

#header {
  border-bottom: solid 5px;
  
}

#header-col {
    font-size: 5rem;
    border:solid 4px;
    border-radius: 4rem;
    background-color: #bcd1a3;
}

.header-img {
  width: 100%;

}
