body {
  background-color: #b1ab9d;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

.mood-selection {
  width: 300px;
  height: 300px;
}

.reason-button {
  text-align: center;
  width: 12rem;
  height: 3rem;
}

.img-radio { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.img-radio + img {
  cursor: pointer;
}

.img-radio:checked + img {
  outline: 5px solid;
}

label {
  font-size: 2rem;
}

#response {
  font-size: 2rem;
}

.bottombuttons {
  font-size: 2rem;
}